<div class="w3-bar w3-black">
    <a href="/" class="w3-bar-item w3-button w3-padding-16 w3-mobile"><b>TRADE LOG</b></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-mobile"
        onclick="alert('No uploads from web. Command line only')">Upload</a>
    <a href="/open" class="w3-bar-item w3-button w3-padding-16 w3-mobile">Open</a>
    <a href="/closed" class="w3-bar-item w3-button w3-padding-16 w3-mobile">Closed</a>
    <a href="/trades" class="w3-bar-item w3-button w3-padding-16 w3-mobile">Trades</a>
</div>

<div id="modal" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom">
        <div class="w3-container  w3-center">
            <span class="w3-button w3-display-topright"
                onclick="document.getElementById('modal').style.display='none'">&times;</span>
            <h3>Upload new trades</h3>
            <form class="w3-container" action="/" method="post" enctype="multipart/form-data">
                <div class="w3-section">
                    <input class="w3-input w3-border w3-margin-bottom" type="file" name="file" id="file">
                    <input type="submit">
                    <button type="reset" onclick="document.getElementById('modal').style.display='none'">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>